span {
    cursor: pointer;
}

.page-shop-content {
    padding: 1.5rem 0;
    border-bottom: 1px solid #eae8e4!important;
    margin-bottom: 3.5rem;
}

.page-content-left {
    width: 330px;
    margin-right: 4rem;
}
.page-content-right h2 {
    margin-bottom: 1rem;
    font-size: 25px;
    font-weight: 300;
}

.collapsible-content {
    border: 1px solid #eae8e4;
    background-color: white;
}

.collapsible {
    border: none;
    background-color: white;
    width: 100%;
    color: black;
    cursor: pointer;
    padding: 1.875rem;
    text-align: left;
    outline: none;
    font-size: 20px;
}

.collapsible:after {
    content: '\002B';
    font-size: 16px;
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    border: 1px solid #eae8e4;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.menu {
    padding: 18px;
}

.menu-item {
    padding-bottom: 20px;
}

.content-primary {
    padding-top: 2rem;
}

.filter-by-price {
    padding: 1.2rem;
}

.ui-slider-range {
    height: 0.4rem;
    width: 9rem;
    background-color: #161619;
}

.ui-slider-handle {
    margin-top: -5px;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #161619;
    border: 2px solid #fff;
    border-radius: 50%;
}

.price {
    padding-left: 4.4rem;
    margin-bottom: 1rem;
    font-weight: 80;
    font-size: 14px;
}

.by-review {
    padding-bottom: 1rem;
}

.by-review input {
    color: #7f7f83;
}

.checked {
    color: orange;
}

.bi-star {
    color: orange;
}

.text-right {
    float: right;
    font-weight: 100;
    color: #7f7f83;
    font-size: 14px;
}

.Featured-Books-right {
    padding-left: 1.2rem;
}

.showing-dropbtn {
    border: none;
    background-color: white;
    box-shadow: 0 2px 0 #eae8e4;
    padding: 0 0 0.876rem 0.876rem;
    margin-right: 2rem;
}

.icon-secondary {
    display: inline-block;
    color: black;
    height: 2.375rem;
    width: 2.375rem;
    border: 1px solid #eae8e4;
    text-align: center;
}

.showing {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.page-sale {
    margin-top: 2.7rem;
    background-color: #fff6f6;
    border: 1px solid #eae8e4;
}

.pagination {
    justify-content: center;
    margin-top: 2rem;
}

.pagination .pagination-primary {
    margin-right: 1rem;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background-color: #fff;
    border: 1px solid #eae8e4;
}

.pagination .pagination-primary:hover,
.pagination .pagination-primary.pag-active {
    background-color: black;
    color: white;
}
