.app {
    min-height: calc(100vh - 50px);
    padding: 10px;
    margin-top: 30px;
    background-color: #f5f5f5;
    -webkit-transition: margin-left 0.3s ease;
    -o-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease;
}

.form-inline .form-check {
    width: 100%;
}

.app-content {
    min-height: calc(100vh - 50px);
    padding: 10px;
    background-color: #f5f5f5;
    -webkit-transition: margin-left 0.3s ease;
    -o-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease;
}

@media (min-width: 768px) {
    .app-content {
        margin-left: 250px;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .app-content {
        margin-top: 10px;
        min-width: 100%;
    }
}

@media (max-width: 480px) {
    .app-content {
        padding: 15px;
    }
}

@media print {
    .app-content {
        margin: 0;
        padding: 0;
        background-color: #fff;
    }
}

.light-text {
    font-weight: 300 !important;
}

.semibold-text {
    font-weight: 600 !important;
}

.line-head {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}


/*----- Componant: Top Navigation Bar ----- */

.app-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(0, 28, 64);
    z-index: 1;
    padding-right: 15px;
    padding-left: 15px;
}

.app-header__logo {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    color: #FFD43B !important;
    text-align: center;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    display: none !important;
}

.app-header__logo:focus,
.app-header__logo:hover {
    text-decoration: none;
    color: #fff;
}

.app-sidebar__toggle {
    padding: 10px;
    font-family: fontAwesome;
    color: white;
    line-height: 2.4;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    /* background-color: white; */
    /* width: 30px; */
    height: 30px;
    line-height: 15px;
    margin-top: 7px;
    border-radius: .357rem;
}

.app-sidebar__toggle:before {
    content: "\f009";
    font-size: 15px;
}

.bx {
    /* margin: 0; */
    /* font-family: inherit; */
    /* font-size: inherit; */
    /* line-height: inherit; */
    font-size: 20px;
}

.app-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
}

@media (min-width: 768px) {
    .app-nav {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
}

.app-nav__item {
    display: block;
    padding: 15px;
    line-height: 0px;
    color: rgb(0, 28, 64);
    background: rgb(255, 212, 59);
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.app-nav__item:hover,
.app-nav__item:focus {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}

.app-search {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 15px;
    padding: 10px 0;
}

@media (max-width: 480px) {
    .app-search {
        display: none;
    }
}

.app-search__input {
    border: 0;
    padding: 5px 10px;
    padding-right: 30px;
    border-radius: .357rem;
    background-color: rgb(255, 255, 255);
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.app-search__input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.app-search__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.app-search__input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.app-search__input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.app-search__button {
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 10px;
    padding: 0 10px;
    border: 0;
    color: rgba(0, 0, 0, 0.8);
    background: none;
    cursor: pointer;
}

.app-notification {
    min-width: 270px;
}

.app-notification__title {
    padding: 8px 20px;
    text-align: center;
    background-color: rgba(0, 150, 136, 0.4);
    color: #333;
}

.app-notification__footer {
    padding: 8px 20px;
    text-align: center;
    background-color: #eee;
}

.app-notification__content {
    max-height: 220px;
    overflow-y: auto;
}

.app-notification__content::-webkit-scrollbar {
    width: 6px;
}

.app-notification__content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

.app-notification__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 20px;
    color: inherit;
    border-bottom: 1px solid #ddd;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.app-notification__item:focus,
.app-notification__item:hover {
    color: inherit;
    text-decoration: none;
    background-color: #e0e0e0;
}

.app-notification__message,
.app-notification__meta {
    margin-bottom: 0;
}

.app-notification__icon {
    padding-right: 10px;
}

.app-notification__message {
    line-height: 1.2;
}

.app-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    z-index: 10;
    background: rgb(0, 28, 64);
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    /* border-bottom-right-radius: 50px; */
}

.app-sidebar::-webkit-scrollbar {
    width: 6px;
}

.app-sidebar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

@media print {
    .app-sidebar {
        display: none;
    }
}

@media (max-width: 767px) {
    .app-sidebar__overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9;
    }
}

.app-sidebar__user {
    display: block;
    display: -ms-flexbox;
    /* display: flex; */
    /* -webkit-box-align: center; */
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    color: white;
    text-align: center;
}

.app-sidebar__user-avatar {
    background: white;
    border-radius: .357rem;
    width: 70px;
    border: 3px solid white;
    margin-bottom: 10px;
}

.info-tong {
    font-size: 12px !important;
    margin-top: 5px !important;
    border-top: 1px dashed #e8e8e8;
    padding-top: 10px !important;
}

.app-sidebar__user-name {
    font-size: 17px;
    line-height: 1.3;
}

.app-sidebar__user-name,
.app-sidebar__user-designation {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.app-menu {
    margin-bottom: 0;
    padding-bottom: 40px;
}

.app-menu__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: .375rem;
    margin-bottom: 10px;
    padding: 15px 15px;
    font-size: 1.08em;
    border-left: 0px;
    box-shadow: none;
    -webkit-transition: border-left-color 0.3s ease, background-color 0.3s ease;
    -o-transition: border-left-color 0.3s ease, background-color 0.3s ease;
    transition: border-left-color 0.3s ease, background-color 0.3s ease;
    color: white;
    border: 1px solid transparent;
    /* border-bottom: 1px solid #ddd; */
}

.bi-house-door {
    padding-right: 10px;
}

.app-menu__item.active,
.app-menu__item:hover,
.app-menu__item:focus {
    background: #c6defd;
    text-decoration: none;
    color: rgb(22 22 72);
    box-shadow: none;
    border: 1px solid rgb(22 22 72);
}

.app-menu__label {
    padding-left: 10px;
}

.app-menu__icon {
    font-size: 23px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 40px;
}

.app-menu__label {
    white-space: nowrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 15px;
    font-weight: 500;
}

.sidebar-mini.sidenav-toggled .app-sidebar__user-avatar {
    width: 30px;
    height: 30px;
}

.sidebar-mini.sidenav-toggled .app-content {
    margin-left: 50px;
}

.sidebar-mini.sidenav-toggled .app-sidebar {
    left: 0;
    width: 70px;
    overflow: hidden;
}

.sidebar-mini.sidenav-toggled .app-sidebar:hover {
    overflow: visible;
}

.sidebar-mini.sidenav-toggled .app-menu__item {
    overflow: hidden;
    width: 50px;
}

.sidebar-mini.sidenav-toggled .app-menu__item:hover .app-menu__label {
    opacity: 1;
}

.sidebar-mini.sidenav-toggled .app-menu__item:hover+.treeview-menu {
    visibility: visible;
}

.sidebar-mini.sidenav-toggled .app-menu__label {
    display: block;
    position: absolute;
    top: 0;
    left: 50px;
    min-width: auto;
    padding: 12px 20px 12px 20px;
    margin-left: -3px;
    line-height: 1;
    opacity: 0;
    color: black;
    background: #FFD43B;
    border-top-right-radius: 10px;
    /* text-align: center; */
    border-radius: .357rem;
    border-bottom-right-radius: 10px;
}

.sidebar-mini.sidenav-toggled .treeview:hover .app-menu__item {
    overflow: visible;
    background: #0d1214;
    border-left-color: rgb(0, 28, 64);
    color: #fff;
}

.sidebar-mini.sidenav-toggled .treeview:hover .app-menu__label {
    opacity: 1;
}

.sidebar-mini.sidenav-toggled .treeview:hover .treeview-menu {
    max-height: 100vh;
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.sidebar-mini.sidenav-toggled .treeview .app-menu__label {
    border-bottom-right-radius: 0;
}

.sidebar-mini.sidenav-toggled .treeview-menu {
    position: absolute;
    left: 50px;
    min-width: 180px;
    padding: 12px 0;
    opacity: 0;
    border-bottom-right-radius: 4px;
    z-index: 9;
    visibility: hidden;
    -webkit-transition: visibility 0.3s ease;
    -o-transition: visibility 0.3s ease;
    transition: visibility 0.3s ease;
}

.dropdown-menu.dropdown-menu-right {
    left: auto;
    right: 0;
}

.dropdown-item .fa,
.dropdown-item .icon {
    margin-right: 5px;
    vertical-align: middle;
}

.btn {
    cursor: pointer;
}

.btn[disabled] {
    cursor: not-allowed;
}

.btn .icon,
.btn .fa {
    font-size: 14px;
    vertical-align: middle;
}

.img-card-person {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    border-radius: .357rem;
    object-fit: cover;
}

.app-title {
    display: block;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #FFF;
    border-radius: .375rem;
    padding: 10px 30px;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
}

@media print {
    .app-title {
        display: none;
    }
}

@media (max-width: 480px) {
    .app-title {
<<<<<<< Updated upstream
        /* margin: -15px -15px 15px; */
        /* padding: 20px; */
=======
        margin: -15px -15px 15px; */
        /* padding: 20px;
>>>>>>> Stashed changes
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}